<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><button id="clear" (click)="clear()" class="button-nav uk-button uk-button-default uk-button-small" disabled><i class="fas fa-eraser"></i></button></li>
            <li><button id="undo" (click)="undo()" class="button-nav uk-button uk-button-default uk-button-small " disabled><i class="fas fa-undo"></i></button></li>
            <li><button id="redo" (click)="redo()" class="button-nav uk-button uk-button-default uk-button-small" disabled><i class="fas fa-redo"></i></button></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><button class="uk-button uk-button-primary" (click)="export()" id="exportContent" disabled>Export</button></li>
            <li><button class="uk-button uk-button-primary" (click)="convert()" id="convertContent" disabled>Convert</button></li>
        </ul>
    </div>
</nav>
<div id="editor" #tref></div>