<div class="container">
    <section class="main-section">
        <div class="slogan">
            <h4>Handwriting notes fanatics.</h4>
        </div>
    </section>
    <hr>
    <section>
        <div class="info-section uk-grid-small uk-flex-wrap uk-flex-top uk-flex-row uk-flex-around@m uk-flex-around@l uk-flex-around@xl" uk-grid>
            <div class="info uk-width-1-1@s uk-width-1-1@m uk-width-1-4@l uk-width-1-4@xl">
                <img src="http://via.placeholder.com/130x130">
                <h3>Morbi aliquet non nibh vitae pharetra. Orci.</h3>
                <p>Curabitur ac porta lorem. Integer sit amet molestie ligula. Donec convallis diam vel leo.</p>
            </div>
            <div class="info uk-width-1-1@s uk-width-1-1@m uk-width-1-4@l uk-width-1-4@xl">
                <img src="http://via.placeholder.com/130x130">
                <h3>In aliquam, arcu eu facilisis tempor, felis.</h3>
                <p>Aenean quis massa et orci consequat elementum. Phasellus eu urna elit. Morbi ut laoreet sem. Maecenas.</p>
            </div>
            <div class="info uk-width-1-1@s uk-width-1-1@m uk-width-1-4@l uk-width-1-4@xl">
                <img src="http://via.placeholder.com/130x130">
                <h3>Pellentesque sit amet laoreet ante. Mauris vitae.</h3>
                <p>Sed pulvinar orci non aliquet suscipit. Vestibulum convallis a augue id tempus. Vestibulum turpis quam.</p>
            </div>
        </div>
    </section>
    <section></section>
</div>
