<div class="container">
    <section class="main-section">
        <div class="slogan">
            <h4>Handwriting notes fanatics.</h4>
        </div>
    </section>
    <hr>
    <section>
        <div class="info-section uk-grid-small uk-flex-wrap uk-flex-top uk-flex-row uk-flex-around@m uk-flex-around@l uk-flex-around@xl" uk-grid>
            <div class="info uk-width-1-1@s uk-width-1-1@m uk-width-1-4@l uk-width-1-4@xl">
                <img src="https://via.placeholder.com/130x130">
                <h3>Morbi aliquet non nibh vitae pharetra. Orci.</h3>
                <p>Curabitur ac porta lorem. Integer sit amet molestie ligula. Donec convallis diam vel leo.</p>
            </div>
            <div class="info uk-width-1-1@s uk-width-1-1@m uk-width-1-4@l uk-width-1-4@xl">
                <img src="https://via.placeholder.com/130x130">
                <h3>In aliquam, arcu eu facilisis tempor, felis.</h3>
                <p>Aenean quis massa et orci consequat elementum. Phasellus eu urna elit. Morbi ut laoreet sem. Maecenas.</p>
            </div>
            <div class="info uk-width-1-1@s uk-width-1-1@m uk-width-1-4@l uk-width-1-4@xl">
                <img src="https://via.placeholder.com/130x130">
                <h3>Pellentesque sit amet laoreet ante. Mauris vitae.</h3>
                <p>Sed pulvinar orci non aliquet suscipit. Vestibulum convallis a augue id tempus. Vestibulum turpis quam.</p>
            </div>
        </div>
    </section>
    <section></section>
    <footer class="uk-card-footer">
        <p>Copyright &copy; 2018 &minus; Núria Balaguer</p>
        <div class="links uk-grid-small uk-flex-middle uk-flex-center" uk-grid>
            <a href="https://www.facebook.com/profile.php?id=1124349625" target="_blank" class="link"><i class="uk-text-muted fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/nixiescream" target="_blank" class="link"><i class="uk-text-muted fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/nixiescream/" target="_blank" class="link"><i class="uk-text-muted fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/nixiescream/" target="_blank" class="link"><i class="uk-text-muted fab fa-linkedin"></i></a>
            <a href="https://github.com/nixiescream" target="_blank" class="link"><i class="uk-text-muted fab fa-github"></i></a>
        </div>
    </footer>
</div>
