* {
    text-align: center;
}

.uk-logo, .uk-navbar-toggle, .uk-navbar-item, li a{
    color: white;
}

.uk-logo{
    font-family: 'Roboto', Helvetica, sans-serif;
    /* font-size: 1.8em; */
    font-size: 32px;
}

.sufix{
    font-family: 'Grand Hotel', cursive;
    /* font-size: 1.5em; */
    font-size: 44px;
}

.page-scroll-header {
    background-color: #ccc !important;
}

.my-navbar {
    transition: background-color 0.5s ease-out;
}