<div class="note-card uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l uk-width-1-4@xl">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="note-card uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l uk-width-1-4@xl">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="note-card uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l uk-width-1-4@xl">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="note-card uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l uk-width-1-4@xl">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="note-card uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l uk-width-1-4@xl">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="note-card uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-3@m uk-width-1-4@l uk-width-1-4@xl">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

